.coracao{
    -webkit-animation-name: example2; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    animation-name: example2;
    animation-duration: 0.5s;
  }

    /* Safari 4.0 - 8.0 */
@-webkit-keyframes example2 {
    0%   {width: 41px !important; height: 41px !important}
    25%  {width: 42px !important; height: 42px !important}
    50%  {width: 43px !important; height: 43px !important}
    75%  {width: 44px !important; height: 44px !important}
    100% {width: 45px !important; height: 45px !important}
  }
  
  /* Standard syntax */
  @keyframes example2 {
    0%   {width: 41px !important; height: 41px !important}
    25%  {width: 42px !important; height: 42px !important}
    50%  {width: 43px !important; height: 43px !important}
    75%  {width: 44px !important; height: 44px !important}
    100% {width: 45px !important; height: 45px !important}
  }

